body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}

#header {
    background: #222;
    height: 90px;
    border-bottom: 1px solid #181818;
}

#rightTitle {
    float: right;
    font-family: 'Josefin Sans', sans-serif;
    color: #c9c9c9;
    font-size: 35px;
    padding-right: 25px;
    padding-top: 6px;
    text-decoration: none;
}

#rightTitle:hover {
    color: #ffb600;
}

/* header dropdown */
.dropdown-btn {
    cursor: pointer;
    font-size: 20px;
    border: none;
    outline: none;
    background-color: inherit;
    font-family: 'Josefin Sans', sans-serif;
    color: #c9c9c9;
}

.dropdown-btn:hover {
    color: #ffab00;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.table-control {
    float: left;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 110px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.more-items {
    font-size: 12pt;
}

.dropdown-content-item {
    float: none;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 12pt;
    color: #515151;
    font-family: 'Josefin Sans', sans-serif;
    cursor: pointer;
}

.dropdown-content-item:hover {
    background-color: #ddd;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

.hide {
    display: none;
}

/* header dropdown */

#controlPanel {
    margin-left: 25px;
    padding-top: 25px;
}

/* baseContent */
#baseContent {
    position: absolute;
    top: 91px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: scroll;
}

/* Content */

/* loader */
#loader {
    margin-left: 48%;
    margin-top: 10%;
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid #ffb600;
    width: 60px;
    height: 60px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    display: none;
    position: absolute;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(720deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(720deg);
    }
}

/* loader */

/* header panel */
#dataBaseList {
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 35px;
    max-width: 150px;
    outline: none !important;
    background: #222222;
    margin-top: -5px;
    font-size: 13pt;
    font-family: monospace;
    color: #c0c0c0;
    border: 1px solid #222;
}

#tableList {
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 35px;
    margin-left: 10px;
    max-width: 150px;
    outline: none !important;
    background: #222222;
    margin-top: -5px;
    font-size: 13pt;
    font-family: monospace;
    color: #c0c0c0;
    border: 1px solid #222;
}

.default-btn {
    fill: #c9c9c9;
    cursor: pointer;
}

.default-btn-active {
    fill: #ffb600;
    cursor: pointer;
}

.default-btn:hover {
    fill: #ffb600;
}

.default-input {
    width: 200px;
    padding: 8px;
    border-radius: 3px;
    letter-spacing: 1px;
    font-size: 11pt;
    outline: none !important;
    font-family: monospace;
    border: 2px solid white;
}

.default-input:focus {
    border: 2px solid #ffb600;
}

#search {
    float: right;
    margin-right: 20px;
    margin-top: 2px;
    width: 180px;
}

.disabled {
    background: rgb(230, 230, 230);
    pointer-events: none;
}

#changeContentFont {
    float: right;
    margin-right: 20px;
    margin-top: 2px;
    width: 40px;
}

#connectionStatus {
    float: right;
    font-family: 'Josefin Sans', sans-serif;
    color: #43a047;
    font-size: 14px;
    width: 110px;
    margin-right: 10px;
    margin-top: 15px;
    text-decoration: none;
}

#theme {
    margin-top: 7px;
    margin-right: 20px;
    float: right;
    fill: #c9c9c9;
    cursor: pointer;
}

#theme:hover {
    fill: #ffb600;
}

#darkTheme {
    display: none;
}

/* header panel */
fieldset, img {
    border: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
}

/*Content*/
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

tr {
    vertical-align: top;
}

th {
    text-align: left;
    padding: 8px 8px 20px 15px;
    min-width: 70px;
    max-width: 320px;
    white-space: initial;
    overflow-x: auto;
}

td {
    text-align: left;
    padding: 8px 8px 20px 8px;
    min-width: 70px;
    max-width: 320px;
    white-space: pre;
    overflow-x: auto;
}

#tableContent {
    overflow-x: auto;
}

/*Content*/

/*pagination*/
#pagination {
    float: right;
    margin-right: 25px;
    display: none;
    margin-bottom: 15px;
}

.pagination-item-white-style.active {
    background-color: #222;
    color: white;
}

.pagination-item-white-style {
    color: black;
    border: 1px solid #fff;
    background-color: #fff;
}

.pagination-item-white-style:hover:not(.active) {
    border: 1px solid #222;
}

.go-page-number-white-theme {
    border: 1px solid #222;
    color: #515151;
    background-color: white;
}

.go-page-number-white-theme:hover {
    background-color: #eee;
}

.pagination-item-dark-style.active {
    background-color: #fff;
    color: #222;
}

.pagination-item-dark-style {
    color: #c0c0c0;
    border: 1px solid #222;
    background-color: #222;
}

.pagination-item-dark-style:hover:not(.active) {
    border: 1px solid #ffb600;
    color: #ffb600;
}

.go-page-number-dark-theme {
    border: 1px solid #c0c0c0;
    color: #c0c0c0;
    background-color: #222222;
}

.go-page-number-dark-theme:hover {
    border: 1px solid #ffb600;
    color: #ffb600;
}

.pagination-item {
    float: left;
    width: 50px;
    text-decoration: none;
    transition: background-color .3s;
    padding-top: 8px;
    padding-bottom: 8px;
    outline: none !important;
    border-radius: 3px;
    text-align: center;
    font-size: 12pt;
    cursor: pointer;
}

#pageNumberInput {
    border: 1px solid #222;
    outline: none !important;
    border-radius: 3px;
    font-size: 12pt;
    width: 42px;
    text-align: center;
    float: left;
    height: 32px;
    margin-top: 1px;
    margin-left: 10px;
}

#goPageNumber {
    width: 42px;
    margin-top: 1px;
    margin-left: 10px;
    float: right;
    outline: none !important;
    border-radius: 3px;
    font-size: 12pt;
    height: 34px;
    cursor: pointer;
}

#goPageNumber:disabled {
    opacity: 0.5;
    cursor: auto;
}

#goPageNumber:disabled:hover {
    opacity: 0.5;
}

#hrPagination {
    border: 0;
    height: 1px;
}

.hr-pagination-dark-style {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0));
}

.hr-pagination-white-style {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

/*pagination*/

/* Custom Query in the Modal*/
/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content */
.modal-content {
    position: relative;
    margin: auto;
    padding: 0;
    width: 35%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

.confirmation-modal-content-dark-style {
    background-color: #222222;
    color: #c0c0c0;
}

.confirmation-modal-content-white-style {
    background-color: white;
    color: black;
}

.confirm-button-white-style {
    color: #6c6c6c;
    background-color: white;
}

.confirm-button-white-style:hover {
    color: #ff252f;
    background-color: white;
}

.confirm-button-dark-style {
    color: #c0c0c0;
    background-color: #222222;
}

.confirm-button-dark-style:hover {
    color: #ff252f;
    background-color: #222222;
}

.cancel-confirm-button-white-style {
    color: #6c6c6c;
    background-color: white;
}

.cancel-confirm-button-white-style:hover {
    color: black;
}

.cancel-confirm-button-dark-style {
    color: #c0c0c0;
    background-color: #222222;
}

.cancel-confirm-button-dark-style:hover {
    color: #ffb600;
    background-color: #222222;
}

.small-modal {
    padding-top: 200px;
}

/* Modal Content */
#confirmationModalContent {
    width: 350px;
    border-radius: 3px;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1
    }
}

#detailActionButton {
    margin-left: 10px;
}

#actionButton {
    width: 50%;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 15px;
}

#cancelConfirmButton {
    width: 50%;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 15px;
}

#detailCancelAlertButton {
    margin-left: 10px;
}

.modal-header {
    background-color: white;
    color: black;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 18px;
    font-size: 14pt;
    letter-spacing: -0.4px;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    font-weight: bold;
}

#customQueryContent {
    padding: 10px 40px 10px 18px;
}

#confirmationModalHeader {
    font-family: Geneva, Arial, Helvetica, sans-serif;
    padding: 10px 40px 0 18px;
}

#confirmationActionContent {
    padding: 5px 18px;
    height: 40px;
    border-radius: 3px;
}

#customQueryActionContent {
    padding: 5px 18px;
    height: 40px;
}

#detailActionsFooter {
    padding: 5px 18px;
    height: 40px;
}

.hr-modal {
    border: 0;
    height: 1px;
    background: #e8e8e8;
}

/* Detail Modal*/
#detailModalBody {
    max-height: 350px;
    overflow-y: scroll;
    padding: 0 40px 10px 18px;
}

.detail-item-header {
    font-weight: bold;
    font-size: 13pt;
}

.detail-item-body {
    margin-top: 18px;
}

#detailItemContent {
    width: 470px;
}

.modal-header-dark-style {
    background-color: #ffffff;
    color: black;
}

.detail-item-content-white-style {
    background-color: #ffffff;
}

.detail-actions-footer-white-style {
    background-color: #ffffff;
}

.modal-header-dark-style {
    background-color: #222222;
    color: #c0c0c0;
}

.detail-item-content-dark-style {
    background-color: #222222;
}

.detail-actions-footer-dark-style {
    background-color: #222222;
}

.detail-item-input {
    margin-top: 5px;
    width: 400px;
    height: 30px;
    font-size: 12pt;
    outline: none !important;
    padding-top: 10px;
    min-height: 30px;
    font-family: monospace;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 3px;
    resize: vertical;
}

.detail-item-input-white-style {
    border: 1px dotted #bfbfbf;
    background-color: white;
}

.detail-item-input-dark-style {
    background-color: #222222;
    border: 1px dotted #bfbfbf;
    color: #c0c0c0;
}

.detail-item-input-dark-style:focus {
    border: 1px solid #ffb600;
}

.detail-item-input-white-style:focus {
    border: 1px solid #222222;
}

.detail-item-header-white-style {
    color: black;
}

.detail-item-header-dark-style {
    color: #c0c0c0;
}

/* Detail Modal*/
#customSqlHintText {
    float: right;
    color: rgba(104, 104, 104, 0.5);
    height: 34px;
    margin-top: 7px;
    font-size: 13pt;
    margin-right: 15px;
}

.default-button {
    float: right;
    outline: none !important;
    border-radius: 3px;
    font-size: 12pt;
    height: 34px;
    cursor: pointer;
}

.default-button-white-style {
    color: #515151;
    border: 1px solid #c0c0c0;
}

.default-button-white-style:hover {
    border: 1px solid #222;
}

.default-button-dark-style {
    color: #c0c0c0;
    border: 1px solid #c0c0c0;
    background-color: #222;
}

.default-button-dark-style:hover {
    border: 1px solid #ffb600;
    color: #ffb600;
}

#customQueryEditContent {
    outline: none !important;
    font-family: monospace;
    padding: 10px;
    max-width: 100%;
    min-width: 100%;
    width: 100%;
    max-height: 400px;
    overflow: auto;
    min-height: 200px;
    height: 200px;
    border-radius: 3px;
    font-size: 14pt;
}

.custom-query-modal-white-style {
    background-color: white;
}

.custom-query-header-white-style {
    background-color: white;
    color: black;
}

.custom-query-editor-white-style {
    background-color: white;
    color: black;
    border: 1px dashed #222;
}

.custom-query-editor-white-style:focus {
    border: 1px solid black;
}

.custom-query-submit-white-style {
    color: #515151;
}

.custom-query-submit-white-style:hover {
    border: 1px solid #222;
}

.custom-query-submit-dark-style {
    color: #c0c0c0;
    border: 1px solid #c0c0c0;
    background-color: #222;
}

.custom-query-submit-dark-style:hover {
    border: 1px solid #ffb600;
    color: #ffb600;
}


.custom-query-modal-dark-style {
    background-color: #222222;
}

.custom-query-header-dark-style {
    background-color: #222222;
    color: #c0c0c0;
}

.custom-query-editor-dark-style:focus {
    border: 1px dashed #ffb600;
}

.custom-query-editor-dark-style {
    background-color: #222222;
    color: #c0c0c0;
    border: 1px dashed #c0c0c0;
}

/* Custom Query in the Modal*/

/* img-change */
.img-change {
    height: 18px;
    width: 18px;
    padding-right: 10px;
    padding-left: 5px;
    cursor: pointer;
}

.item-row {
    padding: 50px;
}

.item-row:first-child {
    font-size: 19px;
}

#dbTableContent td, th:first-child {
    padding-left: 15px;
}

.item-row-content-dark-style:hover {
    background-color: rgba(111, 111, 111, 0.08);
}

.item-active-dark-style {
    background-color: rgba(111, 111, 111, 0.29);
}

.item-cell-dark-style {
    border-left: 1px solid #4b4b4b;
}

.item-cell-white-style {
    border-left: 1px solid #c7c7c7;
}

.table-content-dark-style {
    color: #c0c0c0;
}

.table-dark-style {
    border: 1px solid #434343;
}

.img-change-dark-style {
    fill: #c0c0c0;
}

.item-row-header-dark-style:first-child {
    border-bottom: 1px solid #434343;
    color: #dc9d00;
}

.base-content-dark-style {
    background-color: #222;
}

.item-row-content-white-style:hover {
    background-color: rgba(34, 34, 34, 0.09);
}

.item-active-white-style {
    background-color: rgba(34, 34, 34, 0.29);
}

.img-change-white-style {
    fill: #000000;
}

.item-row-header-white-style:first-child {
    border-bottom: 1px solid rgb(215, 215, 215);
    color: #000000;
}

.table-content-white-style {
    color: #000000;
}

.table-white-style {
    border: 1px solid rgb(215, 215, 215);
}

.base-content-white-style {
    background-color: #ffffff;
}

#actionsPanel {
    float: left;
}

.panel-action-item {
    float: left;
    width: 70px;
    cursor: pointer;
}

#deleteTableRecord {
    display: none;
    margin-top: 2px;
}

#deleteTableRecord:hover {
    fill: #ff252f;
    height: 45px;
    margin-top: -2px;
}

#changeTableRecord {
    margin-top: 5px;
    display: none;
}

#selectAll {
    margin-top: 5px;
    cursor: pointer;
    display: none;
}

#refresh {
    margin-right: 30px;
    margin-top: 5px;
    float: right;
    cursor: pointer;
}

#customSql {
    margin-right: 30px;
    margin-top: 5px;
    float: right;
    cursor: pointer;
    visibility: hidden;
}

#moreContent {
    float: right;
    visibility: hidden;
}

#more {
    margin-top: 5px;
    float: right;
    cursor: pointer;
    margin-right: 15px;
}

#tableControlPanel {
    float: left;
    border: 1px solid #bb8600;
    padding: 10px 5px 5px;
    margin-top: -10px;
    border-radius: 3px;
}

.info-content-dark-style {
    color: #c0c0c0;
}

.info-content-white-style {
    color: #222;
}

#infoContent {
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    margin-top: 10%;
    cursor: pointer;
    font-family: 'Josefin Sans', sans-serif;
    display: none;
}

.notification-content-dark-style {
    color: #c0c0c0;
}

.notification-content-white-style {
    color: rgba(34, 34, 34, 0.65);
}

#notificationContent {
    text-align: center;
    font-size: 30px;
    margin-top: 10%;
    width: 100%;
    font-weight: 500;
    font-family: 'Josefin Sans', sans-serif;
    position: absolute;
    display: none;
}

#tableInfo {
    float: left;
    margin-left: 20px;
    margin-top: 20px;
    font-size: 16px;
    font-family: 'Josefin Sans', sans-serif;
    margin-bottom: 20px;
    display: none;
}

.table-info-white-style {
    color: rgba(34, 34, 34, 0.65);
}

.table-info-dark-style {
    color: #c0c0c0;
}

#databaseVersion {
    color: rgba(255, 182, 0, 0.73);
    font-family: 'Josefin Sans', sans-serif;
    margin-left: 8px;
    font-size: 14px;
    margin-top: 25px;
    float: bottom;
}

.drop-item {
    float: left;
    color: #c9c9c9;
    margin-top: 2px;
    font-family: 'Josefin Sans', sans-serif;
    cursor: pointer;
    font-size: 20px;
    width: 100px;
}

.drop-item:hover {
    color: #ff252f;
    font-size: 21px;
    margin-top: 1px;
}

#dropTable {
    display: none;
}

#dropDatabase {
    display: none;
}

#errorContent {
    position: fixed;
    bottom: 0;
    margin-left: 1px;
    margin-bottom: 1px;
    display: none;
    z-index: 2;
}

.error-content-dark-style {
    background: #2d2d2d;
    box-shadow: 5px 5px 40px #0e0e0e;
}

.error-content-white-style {
    background: #f8f8f8;
    box-shadow: 5px 5px 40px #888888;
}

#errorText {
    padding: 10px;
    color: #cf1f26;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 15px;
    float: left;
    line-height: 1.3em;
    overflow-y: scroll;
    max-height: 350px;
}

#dbListDropdown {
    overflow: scroll;
    max-height: 70vh;
    max-width: 40vh;
}

#tableListDropdown {
    overflow: scroll;
    max-height: 70vh;
    max-width: 40vh;
}

#closeErrorContent {
    float: right;
    padding: 10px;
}

#closeErrorContent:hover {
    cursor: pointer;
    fill: #e7222b;
}

.close-error-content-dark-style {
    fill: #b4b4b4;
}

.close-error-content-white-style {
    fill: black;
}

.markText {
    font-weight: bold;
    color: #e7222b;
}

body {
    min-width: 790px;
    width: auto !important;
}

#headerRight {
    float: right;
}

.copy-error-content-dark-style {
    fill: #b4b4b4;
}

.copy-error-content-white-style {
    fill: #6d6d6d;
}

.copy-error-content-dark-style:hover {
    fill: #ffb600;
    cursor: pointer;
}

.copy-error-content-white-style:hover {
    fill: black;
    cursor: pointer;
}

#copyErrorContent {
    float: right;
    padding: 10px 5px 10px 10px;
    margin-top: 3px;
}

#errorTextCopied {
    left: 90%;
    top: -50px;
    margin-right: 100px;
    visibility: hidden;
}

.tooltip-text {
    visibility: hidden;
    width: 120px;
    background-color: #404040;
    color: #c9c9c9;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    margin-top: 10px;
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 105%;
}
/* primary color #ffb600 */
/* secondary color #222 */
/* secondary red #e7222b */